DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
SENTRY_DSN=
METABASE_SITE_URL=
METABASE_SECRET_KEY=

# API Entreprise conf
API_ENTREPRISES_TOKEN=
API_ENTREPRISES_RECIPIENT=

# OpenSignauxFaibles conf
OSF_DATABASE_HOST=
OSF_DATABASE_PORT=
OSF_DATABASE_NAME=
OSF_DATABASE_USERNAME=
OSF_DATABASE_PASSWORD=
OSF_DATABASE_POOL=

# PaperTrail Configuration
PAPERTRAIL_ENABLED=true
PAPERTRAIL_MAX_VERSIONS=1000

# SMTP conf
SMTP_ADDRESS=
SMTP_PORT=

# For letter opener to work in local env (known issue)
BROWSER=/dev/null
