version: '3.8'
services:
  db:
    image: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
  redis:
    image: redis
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: bash -c "rm -f tmp/pids/server.pid && rails s -b '0.0.0.0'"
    volumes:
      - .:/app
    ports:
      - "3001:3000"
    environment:
      RAILS_ENV: development
    depends_on:
      - db
      - redis
    networks:
      - default
      - dev_wekan-tier

networks:
  default:
  dev_wekan-tier:
    external: true

volumes:
  postgres_data:
