<%= turbo_stream.replace "flash" do %>
  <div id="flash" class="fr-alert fr-alert--success" aria-live="polite">
    <%= notice %>
  </div>
<% end %>

<%= turbo_stream.update "#{@summary.network.name.parameterize}_summary" do %>
  <%= render partial: "summaries/summary", locals: { summary: @summary, establishment: @establishment, establishment_tracking: @establishment_tracking, network: @summary.network } %>
<% end %>