<!DOCTYPE html>
<html>
<head>
  <title>Déconnexion en cours...</title>
</head>
<body data-controller="logout"
      data-logout-id-token-value="<%= @id_token %>"
      data-logout-redirect-uri-value="<%= @redirect_uri %>"
      data-logout-keycloak-host-value="<%= @keycloak_host %>">
<p>Déconnexion en cours...</p>
</body>
</html>
