<div class="container mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold mb-6">Statistiques</h1>
  
  <div class="bg-white rounded-lg shadow-lg p-6">
    <iframe
      src="<%= @iframe_url %>"
      frameborder="0"
      width="100%"
      height="800"
      allowtransparency
      class="w-full"
    ></iframe>
  </div>
</div> 