<% content_for :title, 'Accessibilité' %>

<div class="fr-container">
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">
      Voir le fil d'Ariane
    </button>
    <div class="fr-collapse" id="breadcrumb">
      <ol class="fr-breadcrumb__list">
        <li>
          <%= link_to 'Accueil', '/', class: 'fr-breadcrumb__link' %>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Accessibilité</a>
        </li>
      </ol>
    </div>
  </nav>
</div>

<div class="fr-container fr-mb-6w">
  <h1>Accessibilité</h1>
  <p>Établie le 7 janvier 2026.</p>
  <p>Notre organisation s’engage à rendre son service accessible, conformément à l’article 47 de la loi n° 2005-102 du 11 février 2005.</p>
  <p>Cette déclaration d’accessibilité s’applique à <strong>Signaux Faibles</strong> (<a href="https://signaux-faibles.beta.gouv.fr/">https://signaux-faibles.beta.gouv.fr/</a>).</p>

  <h2>État de conformité</h2>
  <p><strong>Signaux Faibles</strong> est non conforme avec le <abbr title="Référentiel général d’amélioration de l’accessibilité">RGAA</abbr>. Le site n'a pas encore été audité.</p>

  <h2>Établissement de cette déclaration d'accessibilité</h2>
  <p>Cette déclaration a été établie le 7 janvier 2026.</p>

  <h3>Technologies utilisées</h3>
  <p>L'accessibilité de Signaux Faibles s'appuie sur les technologies suivantes :</p>
  <ul>
    <li>HTML</li>
    <li>WAI-ARIA</li>
    <li>CSS</li>
    <li>JavaScript (Stimulus)</li>
    <li>Ruby On Rails</li>
  </ul>

  <h2 class="fr-mt-4w">Retour d'information et contact</h2>
  <p>Si vous n’arrivez pas à accéder à un contenu ou à un service de ce site, vous pouvez nous contacter en décrivant votre problème :</p>
  <ul>
    <li>
      E-mail : <a href="mailto:esther.spindler@beta.gouv.fr">esther.spindler@beta.gouv.fr</a>
    </li>
  </ul>

  <p>Nous nous engageons à vous répondre dans un délai d'une semaine au plus tard.</p>

  <h2>Voie de recours</h2>
  <ol>
    <li>Vous avez identifié sur ce site web un ou plusieurs manquement(s) à la réglementation relative à l’accessibilité numérique
      (présence de défauts d'accessibilité, absence des obligations déclaratives, etc.).</li>
    <li>Vous nous avez contacté pour nous en informer.</li>
    <li>Vous n'avez pas reçu de réponse satisfaisante.</li>
  </ol>
  <p>Alors vous avez la possibilité de :</p>
  <ul>
    <li><p>Écrire un message au <a href="https://formulaire.defenseurdesdroits.fr/formulaire_saisine/" target="_blank" rel="noopener external" class="fr-link" title="Défenseur des droits - nouvelle fenêtre">Défenseur des droits</a></p></li>
    <li>
      <p>
        Contacter
        <a href="https://www.defenseurdesdroits.fr/saisir/delegues" target="_blank" rel="noopener external" class="fr-link" title="le délégué du Défenseur des droits dans votre région - nouvelle fenêtre">le délégué du Défenseur des droits dans votre région</a>
      </p>
      <p>
        Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre) :<br>
        Défenseur des droits<br>
        Libre réponse 71120 75342 Paris CEDEX 07
      </p>
    </li>
    <li>
      <p>Contacter l'Arcom afin de signaler un ou plusieurs manquement(s) à la réglementation relative à l’accessibilité numérique,
        rendez-vous sur le formulaire de contact du <a href="https://www.arcom.fr/contact" target="_blank" rel="noopener external" class="fr-link" title="site web de l'Arcom - nouvelle fenêtre">site web de l'Arcom</a>.</p>
    </li>
  </ul>

</div>
