<h1>Accueil</h1>
<p>Accueil de l'application, rappel des campagnes en cours, du nombre d'entreprises suivis / à contacter ... etc...</p>
<p>Ce qu'on affiche ici pourrait varier suivant le profil de l'utilisateur / niveau de droits</p>
