<div class="fr-container">
  <h1>Accueil</h1>
  <p>Accueil de l'application, rappel des campagnes en cours, du nombre d'entreprises accompagnées / à contacter ... etc...</p>
  <p>Ce qu'on affiche ici pourrait varier suivant le profil de l'utilisateur / niveau de droits</p>
</div>