<% content_for :title, 'Support' %>

<div class="fr-container">
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">
      Voir le fil d'Ariane
    </button>
    <div class="fr-collapse" id="breadcrumb">
      <ol class="fr-breadcrumb__list">
        <li>
          <%= link_to 'Accueil', '/', class: 'fr-breadcrumb__link' %>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Support</a>
        </li>
      </ol>
    </div>
  </nav>
</div>

<div class="fr-container fr-mb-6w">
  <h1>Support</h1>
  <p>Pour aller plus loin, retrouvez notre documentation en ligne :</p>
  <a
    title="Guide utilisateur - Nouvelle fenêtre"
    href="https://signaux-faibles.gitbook.io/guide-dutilisation-et-f.a.q.-de-signaux-faibles"
    target="_blank"
    rel="noopener external"
    class="fr-btn"
  >
    Guide utilisateur
  </a>

  <p class="fr-mt-3w">Pour toute question, veuillez vous adresser à <a href="mailto:esther.spindler@beta.gouv.fr">esther.spindler@beta.gouv.fr</a></p>
</div>
