<div class="fr-container">
  <div class="fr-col-12 fr-col-sm-10 fr-col-md-8">
    <%= render 'form', contact: @contact, establishment_tracking: @establishment_tracking, establishment: @establishment %>
  </div>
</div>