<%= turbo_frame_tag "establishment_trackings_widget" do %>
  <% if @in_progress_trackings.empty? and @completed_trackings.empty? %>
    <div class="fr-notice fr-notice--info">
      <div class="fr-container">
        <div class="fr-notice__body">
          <p>
            <span class="fr-notice__title">L'entreprise n'a pas d'accompagnement en cours.</span>
          </p>
          <p class="fr-mt-3w">
            Pour créer un accompagnement auprès d'un établissement, cliquer sur le lien :
            <%= link_to "Liste des établissements - #{@company.raison_sociale}",
                        company_path(@company),
                        data: { turbo: false } %>
          </p>
        </div>
      </div>
    </div>
  <% else %>
    <% if @in_progress_trackings.present? %>
      <div class="fr-card">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h2>Accompagnement en cours de l'entreprise</h2>
            <%= render partial: 'establishment_trackings_table', locals: { trackings: @in_progress_trackings, title: 'Accompagnement en cours de l\'entreprise', id: 'in-progress-trackings' } %>
          </div>
        </div>
      </div>
    <% end %>

    <% if @completed_trackings.present? %>
      <div class="fr-card fr-mt-5w">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h2>Historique des accompagnements de l’entreprise</h2>
            <%= render partial: 'establishment_trackings_table', locals: { trackings: @completed_trackings, title: 'Historique des accompagnements de l\'entreprise', id: 'completed-trackings' } %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>




