<div data-controller="view-toggle">
    <div class="fr-container--fluid fr-m-5w">
      <h1>Accompagnements</h1>
      <%= render 'filters' %>
    </div>
    <div class="fr-container--fluid fr-m-5w">
      <%= render 'establishment_trackings_table' %>
    </div>
</div>

