<% content_for :title, "Accompagnements" %>

<div data-controller="view-toggle">
    <div class="fr-container--fluid fr-m-5w">
      <h1 aria-describedby="tooltip-accompagnements" style="display: inline-block;">Accompagnements</h1>
      <span class="fr-tooltip fr-placement" id="
      tooltip-accompagnements" role="tooltip" aria-hidden="true">Un accompagnement intervient à la suite de la prise de contact d’une entreprise détectée par Signaux Faibles et traitée en CODEFI et de la validation d’un besoin d’accompagnement par le dirigeant.</span>
      <%= render 'filters' %>
    </div>
    <div class="fr-container--fluid fr-m-5w">
      <%= render 'establishment_trackings_table' %>
    </div>
</div>

