<% content_for :title, "Accompagnements" %>

<div class="fr-container">
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">
      Voir le fil d'Ariane
    </button>
    <div class="fr-collapse" id="breadcrumb">
      <ol class="fr-breadcrumb__list">
        <li>
          <%= link_to 'Accueil', '/', class: 'fr-breadcrumb__link' %>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Accompagnements</a>
        </li>
      </ol>
    </div>
  </nav>
</div>

<div class="fr-container fr-mt-2w fr-mb-5w">
  <div class="grid-row">
    <div>
      <h1 style="display: inline-block;">Accompagnements</h1>
      <%= render 'filters' %>
    </div>
  </div>
  <div class="grid-row">
    <div class="fr-mt-5w fr-mb-7w">
      <%= render 'establishment_trackings_table' %>
    </div>

  </div>
</div>

