.accompagnement__tab-title h3 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.accompagnement__tab-title .fr-btn {
    margin: 0 !important;
}


.custom-background {
    background-color: #F5F5FE;
}

/* Comments */

.comment-container {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #f9f9f9;
}

.comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.avatar {
    width: 40px;
    height: 40px;
    background-color: #d8d8d8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 8px;
    color: #fff;
}

.author-details strong {
    font-size: 14px;
}

.comment-content {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 12px;
}

.comment-content a {
    color: #007bff;
    text-decoration: underline;
}

.comment-footer {
    font-size: 12px;
    color: #6c757d;
}

.comment-footer a {
    margin-left: 8px;
    color: #007bff;
    text-decoration: none;
}
.comment-footer a:hover {
    text-decoration: underline;
}

/* Markdown tables in network tabs */
.fr-tabs__panel table {
    border-collapse: collapse; /* Ensure borders are collapsed for a cleaner look */
    width: 100%;
}

.fr-tabs__panel table th,
.fr-tabs__panel table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.fr-tabs__panel table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.fr-icon-shake-hands-line::before,
.fr-icon-shake-hands-line::after {
    -webkit-mask-image: url("../../../icons/business/shake-hands-line.svg");
    mask-image: url("../../../icons/business/shake-hands-line.svg");
}

/* Filter form alignment */
.establishment_trackings .fr-input-group {
    line-height: 2.5rem;
}

.establishment_trackings .fr-input-group .fr-btn--tooltip {
    vertical-align: middle;
    margin-left: 0.1rem;
    position: relative;
    top: -1px;
}

/* Table header alignment */
.establishment_trackings_table th {
    line-height: 2.5rem;
}

.establishment_trackings_table th .fr-btn--tooltip {
    vertical-align: middle;
    margin-left: 0.1rem;
    position: relative;
    top: -1px;
}

/* Info panel tooltip alignment */
.tracking-info .fr-btn--tooltip {
    position: relative;
    top: 3px;
}

.contributors-info .fr-btn--tooltip {
    position: relative;
    top: 3px;
}

/* Edit form alignment */
.edit_tracking .fr-input-group {
    line-height: 2.5rem;
}

.edit_tracking .fr-input-group .fr-btn--tooltip {
    vertical-align: middle;
    margin-left: 0.1rem;
    position: relative;
    top: -1px;
}