<p>Bonjour,</p>

<p>Vous avez demandé à réinitialiser votre mot de passe d'accès à l'outil Signaux Faibles.</p>

<% url = edit_password_url(@resource, reset_password_token: @token) %>
<p>Pour renseigner votre nouveau mot de passe, cliquez sur le lien suivant : <%= link_to url, url %></p>

<p>Si vous n'êtes pas à l'origine de cette action, nous vous invitions à informer l'équipe, en nous contactant à l'adresse suivante : esther.spindler@beta.gouv.fr</p>

<p>L'équipe Signaux Faibles</p>