<div class="fr-mb-3w">
  <div class="fr-mb-2w">
    <%= link_to "← Retour à la liste", admin_users_path, class: "fr-link" %>
  </div>
  <h1 class="fr-h1 fr-mb-2w">Modifier l'utilisateur</h1>
</div>

<%= render "form" %>
