<h1>Etablissements</h1>

<div class="fr-table fr-table--bordered">
  <table>
    <caption>Liste des entreprises</caption>
    <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Siège ?</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @establishments.each do |establishment| %>
      <tr>
        <td><%= establishment.raison_sociale %></td>
        <td><%= establishment.company? ? 'Yes' : 'No' %></td>
        <td><%= link_to 'Voir', establishment %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>