<div class="fr-header__menu fr-modal" id="modal-499" aria-labelledby="button-500">
  <div class="fr-container">
    <button class="fr-btn--close fr-btn" aria-controls="modal-499" title="Fermer">
      Fermer
    </button>
    <div class="fr-header__menu-links">
    </div>
    <nav class="fr-nav" id="header-navigation" role="navigation" aria-label="Menu principal">
      <ul class="fr-nav__list">
<!--        <li class="fr-nav__item">
          <%#= link_to root_path, class: "fr-nav__link", 'aria-controls': "modal-header__menu", 'aria-current': current?("page", root_path) do %>
            Accueil
          <%# end %>
        </li>-->
        <li class="fr-nav__item">
          <%= link_to establishment_trackings_path, class: 'fr-nav__link', 'aria-current': current?("page", establishment_trackings_path) do %>
            Accompagnements
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</div>