<dialog id="fr-theme-modal" class="fr-modal" role="dialog" aria-labelledby="fr-theme-modal-title" data-theme-target="modal" data-turbo-permanent>
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-btn--close fr-btn" aria-controls="fr-theme-modal" id="button-5622" title="Fermer" data-action="theme#close">
              Fermer
            </button>
          </div>
          <div class="fr-modal__content">
            <h1 id="fr-theme-modal-title" class="fr-modal__title">
              Paramètres d'affichage
            </h1>
            <div id="fr-display" class="fr-display">
              <fieldset class="fr-fieldset" id="display-fieldset">
                <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="display-fieldset-legend">
                  Choisissez un thème pour personnaliser l'apparence du site.
                </legend>
                <div class="fr-fieldset__element">
                  <div class="fr-radio-group fr-radio-rich">
                    <input value="light" type="radio" id="fr-radios-theme-light" name="fr-radios-theme" data-action="change->theme#setTheme">
                    <label class="fr-label" for="fr-radios-theme-light">
                      Thème clair
                    </label>
                  </div>
                </div>
                <div class="fr-fieldset__element">
                  <div class="fr-radio-group fr-radio-rich">
                    <input value="dark" type="radio" id="fr-radios-theme-dark" name="fr-radios-theme" data-action="change->theme#setTheme">
                    <label class="fr-label" for="fr-radios-theme-dark">
                      Thème sombre
                    </label>
                  </div>
                </div>
                <div class="fr-fieldset__element">
                  <div class="fr-radio-group fr-radio-rich">
                    <input value="system" type="radio" id="fr-radios-theme-system" name="fr-radios-theme" data-action="change->theme#setTheme">
                    <label class="fr-label" for="fr-radios-theme-system">
                      Système
                      <span class="fr-hint-text">Utilise les paramètres système</span>
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog> 